
.w-fav2 {
    .pointer;
    .dbi;
    .u-count {
        color: #888;
        .ml(10px);
    }
    &.disabled {
        img * {
            fill: #aaa;
        }
    }
    img {
        .size(32px);
        .y;
        .pr;
        top: -1px;
    }
}


.w-boxcoin-user {
    .dbi;
    .x(left);
    img {
        .size(26px);
        .y;
        .pr;
        top: -2px;
    }
    .u-count {
        color: #888;
        .ml(10px);
    }
}

.w-boxcoin-user-content {
    .u-charge {
        .underline(@color-link);
        .ml(10px);
    }
}

.w-boxcoin-records-pages {
    .mt(20px);
}